body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
nav {
  color: #fff;
  padding: 16px 32px;
  background-color: #24292e;
}
.spinner {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.nav__big {
  width: 100%;
  display: flex;
}
.nav__small {
  display: none;
}
nav .left {
  width: 80%;
  height: 32px;
  display: flex;
  align-items: center;
}
img.home {
  width: 32px;
  height: 32px;
}
.search__label {
  width: 100%;
  display: table;
  font-weight: 400;
  border-radius: 6px;
  background-position: right 8px center;
}
.search__label--dark {
  color: #fff;
  width: 272px;
  display: flex;
  margin: 0 1rem;
  padding: 0 7px;
  border: 1px solid #444d56;
  background-color: #24292e;
}

.search__input {
  outline: none;
  color: #24292e;
  padding-bottom: 0;
  padding: 5px 12px;
  line-height: 20px;
  font-size: inherit;
  border-radius: 6px;
  display: table-cell;
  width: -moz-available;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  background-position: right 8px center;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}
.search__label--dark .search__input {
  width: 100%;
  border: none;
  color: #24292e;
  box-shadow: none;
  background-color: #24292e;
}
.search__input:focus {
  outline: none;
  border-color: #0366d6;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}
.search__label--dark .search__input:focus {
  box-shadow: none;
  border-color: none;
}
.search__input::placeholder {
  opacity: 1;
  color: #6a737d;
}
.search__label--dark .search__input::placeholder {
  opacity: 1;
  color: hsla(0, 0%, 100%, 0.85);
}

ul.links {
  margin: 0;
  padding: 0;
  width: 330px;
  display: flex;
  font-weight: bold;
  list-style-type: none;
  justify-content: space-between;
}
nav .right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
img.user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.caret {
  width: 0;
  height: 0;
  content: '';
  margin-left: 4px;
  display: inline-block;
  border-top-width: 4px;
  vertical-align: middle;
  border-top-style: solid;
  border-left: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 4px solid transparent;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon--middle {
  margin: 0 20px;
}
.icon--bell {
  position: relative;
}
.dot {
  top: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(27, 31, 35, 0.1);
}
.dot--yellow {
  background-color: #f1e05a;
}
.dot--blue {
  top: -5px;
  right: -4px;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid #24292e;
  background-clip: padding-box;
  background-image: linear-gradient(#54a3ff, #006eed);
}
.tprofile {
  display: none;
}
.topbar {
  display: flex;
  margin-top: 24px;
  border-bottom: 1px solid #e1e4e8;
}
.topbar__left {
  width: 30%;
}
.topbar__right {
  width: 70%;
  display: flex;
}
.topbar__item {
  display: flex;
  padding: 8px 16px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}
.topbar__item__text {
  margin: 0 10px;
  display: inline-block;
}
.topbar__item__count {
  font-size: 12px;
  color: #24292e;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  border-radius: 2em;
  padding: 2px 6px 0;
  border: 1px solid transparent;
  background-color: rgba(209, 213, 218, 0.5);
}
.topbar__item--active {
  color: #24292e;
  font-weight: 600;
  border-bottom: 2px solid #f9826c;
}
.body {
  display: flex;
  padding: 0 32px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
aside {
  width: 30%;
  position: relative;
}
main {
  width: 70%;
}
.profile {
  width: 213px;
  top: -32px;
  position: relative;
}
.profile__img {
  height: 213px;
  border-radius: 50%;
}
.emoji {
  right: 5px;
  bottom: 40px;
  padding: 8px;
  display: flex;
  position: absolute;
  border-radius: 2em;
  width: fit-content;
  align-items: center;
  background-color: #fff;
  width: -moz-fit-content;
  border: 1px solid #e1e4e8;
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
}
.emoji__img div,
.temoji__img div {
  height: 21px;
}
.emoji__img .g-emoji {
  font-size: 18px;
}

.emoji__txt {
  display: none;
  font-size: 12px;
  margin: 2px 3px 0 10px;
}
.emoji:hover {
  right: 42px;
  transform: translateX(100%);
}
.emoji:hover .emoji__txt {
  width: 170px;
  transition: 0.1s ease;
  display: inline-block;
}
.name {
  margin: -18px 0 16px;
}
.name__full {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.25;
}
.name__username {
  font-size: 20px;
  color: #586069;
  font-weight: 300;
  line-height: 24px;
}
.bio {
  font-size: 16px;
}
.repo__top {
  padding: 16px 0;
  border-bottom: 1px solid #e1e4e8;
}
.repo__item {
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #e1e4e8;
}
.repo__item__left {
  width: 80%;
}
.repo__item__right {
  width: 20%;
}
.repo__item__name {
  color: #0366d6;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  cursor: pointer;
}
.repo__item__name a {
  all: unset;
}
.repo__item__desc {
  color: #586069;
  margin-bottom: 16px;
}
.repo__item__stats {
  display: flex;
  color: #586069;
  font-size: 12px;
}

.repo__item__stars {
  display: flex;
  margin: 0 16px;
  align-items: center;
}
.repo__item__stars img {
  margin-right: 5px;
}
.repo__item__right {
  display: flex;
  align-items: center;
}
.repo__item__right button {
  display: flex;
  color: #24292e;
  font-size: 12px;
  line-height: 20px;
  padding: 3px 12px;
  border-radius: 6px;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.15);
}
.repo__item__right button:hover {
  background-color: #f3f4f6;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
}
.repo__item__right button img {
  margin-right: 5px;
}
.hide {
  display: none;
}
@media (min-width: 760px) and (max-width: 865px) {
  .profile__img {
    width: 180px;
    height: 180px;
  }
  .emoji {
    right: 28px;
    bottom: 35px;
  }
  .emoji:hover {
    right: 68px;
  }
  .bio {
    margin-right: 20px;
  }
  .search__label--dark {
    width: 200px;
  }
  .search__label--dark .search__input {
    width: 160px;
  }
}
@media (max-width: 760px) {
  nav {
    padding: 16px;
    margin-bottom: 20px;
  }
  .nav__big {
    display: none;
  }
  .nav__small {
    width: 100%;
    display: block;
  }
  .nav__small__top {
    display: flex;
    justify-content: space-between;
  }
  .nav__small__top .dot--blue {
    top: 2px;
  }
  .nav__small__bottom .search {
    margin: 20px 0;
  }
  .nav__small__bottom .search__label {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .nav__small__bottom .links {
    width: 100%;
    flex-direction: column;
  }
  .nav__small__bottom .links li {
    padding: 8px 0;
    flex-direction: column;
    border-top: 1px solid #45494d;
  }
  .nav__small__bottom .links li.img {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav__small__bottom .links li.img img {
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
  }
  aside {
    display: none;
  }
  .tprofile {
    display: block;
    padding: 0 32px;
  }
  .tintro {
    display: flex;
    align-items: center;
  }
  .tprofile__img {
    width: 30%;
    margin-right: 20px;
    border-radius: 50%;
  }
  .tname {
    width: 70%;
  }
  .tname__full {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.25;
  }
  .tname__username {
    font-size: 20px;
    font-weight: 300;
    color: #586069;
    line-height: 24px;
    font-style: normal;
  }
  .temoji {
    padding: 8px;
    display: flex;
    font-size: 12px;
    margin-top: 40px;
    border-radius: 6px;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #e1e4e8;
  }
  .temoji__img .g-emoji {
    font-size: 18px;
    margin-right: 10px;
  }

  .topbar__left {
    display: none;
  }
  .topbar__right {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  main {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .topbar__item {
    padding: 8px 4px;
    line-height: 15px;
  }
  .topbar__item__text {
    margin: 0 5px;
    font-size: 12px;
  }
  .topbar__item__icon {
    width: 12px;
  }
}
@media (max-width: 365px) {
  .topbar__item {
    padding: 8px 0;
  }
}
